$primary-color: #56BFB5;
$secondary-color: #D91882;


button {
  height: 40px;
  width: fit-content;
  background-color: $secondary-color;
  border: none;
  color: #fff;
  font-weight: bold;
  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}
